.video {
    display: block;
    width: 100%;
    max-width: var(--wrapper-width, 1600px);
    height: auto;
}

.video_fullwidth {
    max-width: 100%;
}

.video__player {
    display: block;
    width: 100%;
    height: auto;
}
