.section-title-page {
    margin: 0;
    padding: 0;

    color: var(--gray-darker, #252525);
    font-family: var(--text-family-menu, sans-serif);
    font-size: 52px;
    font-weight: var(--text-weight-bold, 700);

    line-height: 60px;

    text-align: left;

    word-wrap: break-word;
    word-break: break-word;
}

.section-title-page_larger {
    font-size: 62px;

    line-height: 68px;
}

.section-title-page_medium {
    font-size: 52px;

    line-height: 56px;
}

.section-title-page_small {
    font-size: 37px;

    line-height: 41px;
}

.section-title-page_light {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    font-weight: var(--text-weight-main, 400);

    text-align: center;
}

.section-title-page_center {
    text-align: center;
}
