/*Roboto Condensed Normal*/
@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    src: url("../../fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Condensed SemiBold*/
@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 600;
    src: url("../../fonts/RobotoCondensed-SemiBold.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Condensed Bold*/
@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    src: url("../../fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-display: swap;
}

/*Roboto Regular*/
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Bold*/
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
    font-display: swap;
}
