.audio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 92px;
    padding: 8px 12px;

    font-family: var(--text-family-main, sans-serif);

    line-height: 1.5;

    background-color: #f4f4f4;

    border-radius: 8px;

    overflow: hidden;
}

.audio__audio {
    display: inline-block;
    vertical-align: baseline;
}

.audio__tips {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: var(--white, #FFFFFF);
    font-size: 16px;
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 8px;

    opacity: 0;

    transition: opacity 0.3s ease-in-out;

    z-index: 2;

    cursor: pointer;
}

.audio__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    color: var(--black, #000000);
    font-size: 18px;
    font-weight: 700;

    z-index: 1;
}

.audio__icon {
    display: flex;
    align-items: center;

    width: 20px;
    height: auto;

    z-index: 1;
}

.audio__subheader {
    color: #777777;
    font-size: 12px;
    font-weight: 700;

    z-index: 1;
}

.audio__keycap-image {
    position: absolute;
    top: 2%;
    left: 35%;
    width: auto;
    height: 140%;
}

.audio__keycap-img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.audio__progress-bar {
    position: absolute;
    top: calc(100% - 15px);
    left: 10%;
    width: 80%;
    height: 6px;

    background-color: #B8BFBC;

    border-radius: 50px;

    opacity: 0;

    transition: opacity 0.5s ease-in-out;

    z-index: 2;
}

.audio__progress-bar-fill {
    width: 2%;
    height: 100%;

    background: linear-gradient(to right, #2EE2BC, #23e1b8, #21d7b0, #17caa3);

    border-radius: 50px;
}

.audio:hover .audio__tips {
    opacity: 1;
}

.audio:hover .audio__progress-bar {
    opacity: 1;
}
