.section-title {
    margin: 0;
    padding: 0;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-menu, sans-serif);
    font-size: var(--text-size-section, 32px);
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height-section, 36px);

    text-align: center;
}

.section-title_left {
    text-align: left;
}

@media (max-width: 990px) {
    .section-title {
        padding-left: 20px;
        /* color: #3956CC;

        font-size: 62px;
        font-weight: var(--text-weight-bold, 700); */

        line-height: 1.2;

        text-align: left;
    }
}

@media (max-width: 768px) {
    .section-title {
        padding-left: 0;
        color: var(--text-color-main, #000000);

        font-size: 24px;
        font-weight: var(--text-weight-main, 400);

        line-height: 30px;

        text-align: center;
    }
}
