.wrapper {
    width: 100%;
    max-width: var(--wrapper-width, 1600px);
    margin: 0 auto;
    padding: 0;
}

.products__title {
    margin-bottom: 50px;
}

.products__cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;

    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE/Edge */

    scroll-snap-type: x mandatory;
}

.products__cards::-webkit-scrollbar {
  display: none;                /* Chrome / Safari */
}

.products__card {
    flex: 0 0 18%;
    margin-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    
    scroll-snap-align: start;
}

@media (max-width: 1200px) {
    .products__card {
        flex: 0 0 22.5%;
    }
}

@media (max-width: 768px) {
    .products__title {
        margin-bottom: 25px;
    }

    .products__card {
        flex: 0 0 28%;
    }
}

@media (max-width: 480px) {
    .products__card {
        flex: 0 0 40%;
    }
}
