.audio-description {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    max-width: 1134px;
}

.audio-description__row {
    display: flex;
    justify-content: space-between;
    min-height: inherit;
    max-height: inherit;

    flex-wrap: wrap;
}

.audio-description__cell {
    width: calc(25% - 22.5px);
    margin-bottom: 20px;

    font-family: var(--text-family-main, sans-serif);
}

.audio-description__title {
    margin-bottom: 20px;

    font-size: var(--text-size-menu, 16px);
    font-weight: var(--text-weight-bold, 700);
}

.audio-description__content {
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-main, 400);
}

@media screen and (max-width: 1180px) {
    .audio-description {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .audio-container {
        grid-template-columns: 1fr;
    }

    .audio-description {
        padding: 20px 40px;
    }

    .audio-description__cell {
        width: calc(50% - 15px);
    }
}
